.separator {
  border-bottom: 1px solid #ebebeb;
}

.separator1 {
  margin: 8px 0;
  border-bottom: 1px solid #ebebeb;
}

.separator2 {
  margin: 16px 0;
  border-bottom: 1px solid #ebebeb;
}

.separator3 {
  margin: 24px 0;
  border-bottom: 1px solid #ebebeb;
}

.separator4 {
  margin: 32px 0;
  border-bottom: 1px solid #ebebeb;
}

.separator5 {
  margin: 40px 0;
  border-bottom: 1px solid #ebebeb;
}

.separator6 {
  margin: 48px 0;
  border-bottom: 1px solid #ebebeb;
}
