.formWrapper {
  padding: 24px;
}

.submitButton {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 744px) {
  .container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(#fabc07 2%, transparent 2%),
      radial-gradient(#eeeeee 2%, transparent 2%);
    background-color: #f2f2f2;
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
    margin-top: -80px;
  }

  .formWrapper {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    padding: 36px;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
  }
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back {
  margin-left: 5px;
}

.streetAddressInputTitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: left;
}

.button {
  line-height: 24px;
  min-width: 71.1935px;
  color: #ffffff;
  background-color: var(--primary-color);
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  padding: 5px 10px;
}
